<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Oil_Production_Medium_Rig_SE_0001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,90},{104,94}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{104,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{104,92}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{104,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,272},{104,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{104,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{104,88}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{104,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,356},{104,86}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,360},{104,86}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,184},{104,90}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{104,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,90},{106,90}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0009-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{108,90}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{108,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0010-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,92}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{108,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0011-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{108,90}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{108,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0012-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{106,90}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0013-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{104,88}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{104,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0014-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,274},{104,86}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0015-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,270},{104,86}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0016-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,362},{104,86}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0017-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,180},{104,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{104,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0018-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,90},{104,90}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{104,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0019-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,180},{104,92}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{104,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Oil_Production_Medium_Rig_SE_0020-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{104,94}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{104,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TravelingMediumRig-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35682f2f42e4f55f0dce0607101df72$</string>
            <key>textureFileName</key>
            <string>TravelingMediumRig-hd.png</string>
        </dict>
    </dict>
</plist>
