<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crop-selection_ui/crop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,505},{190,280}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,280}}</string>
                <key>sourceSize</key>
                <string>{204,294}</string>
            </dict>
            <key>crop-selection_ui/crop_select_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{82,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,535}}</string>
                <key>sourceSize</key>
                <string>{82,535}</string>
            </dict>
            <key>crop-selection_ui/crop_select_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{118,535}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{118,535}}</string>
                <key>sourceSize</key>
                <string>{128,535}</string>
            </dict>
            <key>crop-selection_ui/crop_select_bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,535}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,535}}</string>
                <key>sourceSize</key>
                <string>{128,535}</string>
            </dict>
            <key>dialogues_ui/bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{148,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,317}}</string>
                <key>sourceSize</key>
                <string>{148,317}</string>
            </dict>
            <key>dialogues_ui/final_build/final_build_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,825},{146,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,188}}</string>
                <key>sourceSize</key>
                <string>{146,188}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_all_options.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,69},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{261,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,500}}</string>
                <key>sourceSize</key>
                <string>{261,500}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,408},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_button_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,540},{218,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,282}}</string>
                <key>sourceSize</key>
                <string>{218,282}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_item_dinars.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,205},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>dialogues_ui/friend_purchase_item_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{150,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,110}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>dialogues_ui/inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,825},{168,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,170}}</string>
                <key>sourceSize</key>
                <string>{168,170}</string>
            </dict>
            <key>dialogues_ui/purchase_coins_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,505},{174,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,224}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>dialogues_ui/sale_confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,788},{484,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,234}}</string>
                <key>sourceSize</key>
                <string>{484,234}</string>
            </dict>
            <key>dialogues_ui/storage_capacity_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,505},{174,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,224}}</string>
                <key>sourceSize</key>
                <string>{174,224}</string>
            </dict>
            <key>souk_screen/souk_dinar_dialogue_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,205},{156,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,200}}</string>
                <key>sourceSize</key>
                <string>{156,200}</string>
            </dict>
            <key>tiles/background_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background-images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:131734a14f300f189e036f992f180edc$</string>
            <key>textureFileName</key>
            <string>background-images.png</string>
        </dict>
    </dict>
</plist>
