<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>status_baloons/Build_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,97},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/Coin_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,97},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/Farming_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,97},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/GoodsRequired_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,382},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/Goods_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,287},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/House_Visit_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,192},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/Road_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,97},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/casual_tourist_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/green_light_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/hireworker_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/luxury_tourist_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/oil_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/red_light_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/runway_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/street_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>status_baloons/water_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balloons-images.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee395b4648ed78914764a57455186e0$</string>
            <key>textureFileName</key>
            <string>balloons-images.png</string>
        </dict>
    </dict>
</plist>
