<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characters/arab_camel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,572}}</string>
                <key>sourceSize</key>
                <string>{441,572}</string>
            </dict>
            <key>characters/camel_falcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{269,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,257}}</string>
                <key>sourceSize</key>
                <string>{269,257}</string>
            </dict>
            <key>characters/man_iphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,577},{224,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,246}}</string>
                <key>sourceSize</key>
                <string>{224,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters2-images.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200f742c2377c9f9b6cacdbf8f5465c0$</string>
            <key>textureFileName</key>
            <string>characters2-images.png</string>
        </dict>
    </dict>
</plist>
