<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash/lumba_watermark.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>splash/splash_progress_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{226,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,40}}</string>
                <key>sourceSize</key>
                <string>{226,40}</string>
            </dict>
            <key>splash/splash_progress_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,104},{188,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,22}}</string>
                <key>sourceSize</key>
                <string>{188,22}</string>
            </dict>
            <key>welcome_ui/blue_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,45},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>welcome_ui/blue_unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,45},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>welcome_ui/lang_select_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{510,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{510,110}}</string>
                <key>sourceSize</key>
                <string>{512,112}</string>
            </dict>
            <key>welcome_ui/purple_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,45},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>welcome_ui/purple_unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,45},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>welcome_ui/welcome_ok_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,124}}</string>
                <key>sourceSize</key>
                <string>{232,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>splash-images.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86acbd805a652a6122f7453e17ae5d1$</string>
            <key>textureFileName</key>
            <string>splash-images.png</string>
        </dict>
    </dict>
</plist>
