<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>workers_ui/resident_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,704},{104,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{104,94}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/worker_picker_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>workers_ui/workers/resident_001_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,704},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_001_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,821},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_002_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,704},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_002_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,587},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_002_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,587},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_003_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,587},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_003_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_004_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_005_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_006_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,470},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_007_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,470},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_008_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,470},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_009_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_010_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,353},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/resident_011_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,353},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_001_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,353},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_001_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_001_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,236},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_002_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,236},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_002_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,236},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_002_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_003_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,119},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_004_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,119},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_005_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,119},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_006_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_007_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_008_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_009_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>workers_ui/workers/woman_010_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>workers-images.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f3e37bb44d70d02390ca014de452db$</string>
            <key>textureFileName</key>
            <string>workers-images.png</string>
        </dict>
    </dict>
</plist>
