<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>crop-selection_ui/crop_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{701.25,946.875},{356.25,525}}</string>
			<key>offset</key>
			<string>{1.875,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,16.875},{356.25,525}}</string>
			<key>sourceSize</key>
			<string>{382.5,551.25}</string>
		</dict>
		<key>crop-selection_ui/crop_select_bg_center.png</key>
		<dict>
			<key>frame</key>
			<string>{{457.5,3.75},{153.75,1003.125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153.75,1003.125}}</string>
			<key>sourceSize</key>
			<string>{153.75,1003.125}</string>
		</dict>
		<key>crop-selection_ui/crop_select_bg_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{230.625,3.75},{221.25,1003.125}}</string>
			<key>offset</key>
			<string>{9.375,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,0},{221.25,1003.125}}</string>
			<key>sourceSize</key>
			<string>{240,1003.125}</string>
		</dict>
		<key>crop-selection_ui/crop_select_bg_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{221.25,1003.125}}</string>
			<key>offset</key>
			<string>{-9.375,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221.25,1003.125}}</string>
			<key>sourceSize</key>
			<string>{240,1003.125}</string>
		</dict>
		<key>dialogues_ui/bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1012.5},{277.5,594.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277.5,594.375}}</string>
			<key>sourceSize</key>
			<string>{277.5,594.375}</string>
		</dict>
		<key>dialogues_ui/final_build/final_build_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{290.625,1546.875},{273.75,352.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273.75,352.5}}</string>
			<key>sourceSize</key>
			<string>{273.75,352.5}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_all_options.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,129.375},{270,191.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,191.25}}</string>
			<key>sourceSize</key>
			<string>{270,191.25}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{616.875,3.75},{489.375,937.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489.375,937.5}}</string>
			<key>sourceSize</key>
			<string>{489.375,937.5}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_button_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,765},{300,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,150}}</string>
			<key>sourceSize</key>
			<string>{300,150}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_button_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,3.75},{277.5,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277.5,120}}</string>
			<key>sourceSize</key>
			<string>{277.5,120}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{286.875,1012.5},{408.75,528.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408.75,528.75}}</string>
			<key>sourceSize</key>
			<string>{408.75,528.75}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_item_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,384.375},{281.25,206.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281.25,206.25}}</string>
			<key>sourceSize</key>
			<string>{281.25,206.25}</string>
		</dict>
		<key>dialogues_ui/friend_purchase_item_fb.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1612.5},{281.25,206.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281.25,206.25}}</string>
			<key>sourceSize</key>
			<string>{281.25,206.25}</string>
		</dict>
		<key>dialogues_ui/inner_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,1546.875},{315,318.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,318.75}}</string>
			<key>sourceSize</key>
			<string>{315,318.75}</string>
		</dict>
		<key>dialogues_ui/purchase_coins_item_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1063.125,946.875},{326.25,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326.25,420}}</string>
			<key>sourceSize</key>
			<string>{326.25,420}</string>
		</dict>
		<key>dialogues_ui/sale_confirm_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{890.625,1477.5},{907.5,438.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{907.5,438.75}}</string>
			<key>sourceSize</key>
			<string>{907.5,438.75}</string>
		</dict>
		<key>dialogues_ui/storage_capacity_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{1063.125,946.875},{326.25,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326.25,420}}</string>
			<key>sourceSize</key>
			<string>{326.25,420}</string>
		</dict>
		<key>souk_screen/souk_dinar_dialogue_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,384.375},{292.5,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292.5,375}}</string>
			<key>sourceSize</key>
			<string>{292.5,375}</string>
		</dict>
		<key>tiles/background_tile.png</key>
		<dict>
			<key>frame</key>
			<string>{{1395,3.75},{375,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,375}}</string>
			<key>sourceSize</key>
			<string>{375,375}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>background-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:131734a14f300f189e036f992f180edc$</string>
		<key>textureFileName</key>
		<string>background-images.png</string>
	</dict>
</dict>
</plist>
