<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>characters/arab.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,545.625},{530.625,832.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{530.625,832.5}}</string>
			<key>sourceSize</key>
			<string>{530.625,832.5}</string>
		</dict>
		<key>characters/arab_camel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166.25,868.125},{622.5,851.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622.5,851.25}}</string>
			<key>sourceSize</key>
			<string>{622.5,851.25}</string>
		</dict>
		<key>characters/arab_falcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222.5,3.75},{622.5,858.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622.5,858.75}}</string>
			<key>sourceSize</key>
			<string>{622.5,858.75}</string>
		</dict>
		<key>characters/arab_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1383.75},{442.5,444.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442.5,444.375}}</string>
			<key>sourceSize</key>
			<string>{442.5,444.375}</string>
		</dict>
		<key>characters/camel_smoke.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,868.125},{620.625,928.125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620.625,928.125}}</string>
			<key>sourceSize</key>
			<string>{620.625,928.125}</string>
		</dict>
		<key>characters/server_lost.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{1213.125,536.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1213.125,536.25}}</string>
			<key>sourceSize</key>
			<string>{1213.125,536.25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>characters-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:db4998557e376d8f95f4526afed00e32$</string>
		<key>textureFileName</key>
		<string>characters-images.png</string>
	</dict>
</dict>
</plist>
