<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>workers_ui/resident_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,1320},{195,176.25}}</string>
			<key>offset</key>
			<string>{-3.75,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13.125},{195,176.25}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/worker_picker_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1758.75},{105,67.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,67.5}}</string>
			<key>sourceSize</key>
			<string>{105,67.5}</string>
		</dict>
		<key>workers_ui/workers/resident_001_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1320},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_001_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,1539.375},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_002_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,1320},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_002_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,1100.625},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_002_v3.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1100.625},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_003_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,1100.625},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_003_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1539.375},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_004_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1320},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_005_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1100.625},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_006_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,881.25},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_007_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,881.25},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_008_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,881.25},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_009_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,881.25},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_010_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,661.875},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/resident_011_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,661.875},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_001_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,661.875},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_001_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,661.875},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_001_v3.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,442.5},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_002_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,442.5},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_002_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,442.5},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_002_v3.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,442.5},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_003_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,223.125},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_004_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,223.125},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_005_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,223.125},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_006_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,223.125},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_007_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{718.125,3.75},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_008_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,3.75},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_009_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{241.875,3.75},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
		<key>workers_ui/workers/woman_010_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{232.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,213.75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>workers-images.png</string>
		<key>size</key>
		<string>{960,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e0f3e37bb44d70d02390ca014de452db$</string>
		<key>textureFileName</key>
		<string>workers-images.png</string>
	</dict>
</dict>
</plist>
