<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>expansion/expansion_arrow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321.875,900},{255,142.5}}</string>
			<key>offset</key>
			<string>{11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/expansion_arrow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{871.875,1006.875},{255,142.5}}</string>
			<key>offset</key>
			<string>{11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/expansion_arrow_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{924.375,858.75},{255,142.5}}</string>
			<key>offset</key>
			<string>{-11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.875,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/expansion_arrow_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{727.5,1768.125},{255,142.5}}</string>
			<key>offset</key>
			<string>{-11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.875,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/oil_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{783.75,1620},{255,142.5}}</string>
			<key>offset</key>
			<string>{11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/oil_arrow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325.625,751.875},{255,142.5}}</string>
			<key>offset</key>
			<string>{11.25,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,3.75},{255,142.5}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>expansion/water_arrow_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306.875,1333.125},{217.5,108.75}}</string>
			<key>offset</key>
			<string>{11.25,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43.125,18.75},{217.5,108.75}}</string>
			<key>sourceSize</key>
			<string>{281.25,150}</string>
		</dict>
		<key>highlight/highlight_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781.25,1813.125},{116.25,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.875,0},{116.25,60}}</string>
			<key>sourceSize</key>
			<string>{120,60}</string>
		</dict>
		<key>highlight/highlight_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1706.25,1451.25},{116.25,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.875,0},{116.25,60}}</string>
			<key>sourceSize</key>
			<string>{120,60}</string>
		</dict>
		<key>highlight/p2_highlight_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,363.75},{60,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,30}}</string>
			<key>sourceSize</key>
			<string>{60,30}</string>
		</dict>
		<key>highlight/p2_highlight_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1845,3.75},{60,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,30}}</string>
			<key>sourceSize</key>
			<string>{60,30}</string>
		</dict>
		<key>highlight/p3_highlight_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,363.75},{60,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,30}}</string>
			<key>sourceSize</key>
			<string>{60,30}</string>
		</dict>
		<key>highlight/p3_highlight_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1845,3.75},{60,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,30}}</string>
			<key>sourceSize</key>
			<string>{60,30}</string>
		</dict>
		<key>main_screen_ui/action_progress_bar/action_progress_bar_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{871.875,1155},{127.5,52.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127.5,52.5}}</string>
			<key>sourceSize</key>
			<string>{127.5,52.5}</string>
		</dict>
		<key>main_screen_ui/action_progress_bar/action_progress_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{215.625,1830},{101.25,26.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101.25,26.25}}</string>
			<key>sourceSize</key>
			<string>{101.25,26.25}</string>
		</dict>
		<key>main_screen_ui/action_progress_bar/asset_progress_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1869.375},{101.25,26.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101.25,26.25}}</string>
			<key>sourceSize</key>
			<string>{101.25,26.25}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/add_energy_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1511.25,1447.5},{93.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{93.75,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/add_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{322.5,1830},{48.75,48.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22.5,22.5},{48.75,48.75}}</string>
			<key>sourceSize</key>
			<string>{93.75,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/bottom_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{1331.25,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1331.25,165}}</string>
			<key>sourceSize</key>
			<string>{1331.25,165}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/coins_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340.625,450},{285,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,93.75}}</string>
			<key>sourceSize</key>
			<string>{285,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/coins_notifier.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340.625,90},{345,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,213.75}}</string>
			<key>sourceSize</key>
			<string>{345,213.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/coins_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1775.625,442.5},{108.75,127.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{108.75,127.5}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/dinars_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325.625,652.5},{266.25,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266.25,93.75}}</string>
			<key>sourceSize</key>
			<string>{266.25,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/dinars_notifier.png</key>
		<dict>
			<key>frame</key>
			<string>{{376.875,1687.5},{345,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,213.75}}</string>
			<key>sourceSize</key>
			<string>{345,213.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/dinars_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188.75,1355.625},{112.5,131.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112.5,131.25}}</string>
			<key>sourceSize</key>
			<string>{112.5,131.25}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/energy_bar_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1306.875,1447.5},{198.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{198.75,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/energy_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{976.875,1507.5},{198.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{198.75,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/energy_notifier.png</key>
		<dict>
			<key>frame</key>
			<string>{{433.125,1468.125},{345,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,213.75}}</string>
			<key>sourceSize</key>
			<string>{345,213.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/energy_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1668.75,309.375},{101.25,138.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101.25,138.75}}</string>
			<key>sourceSize</key>
			<string>{101.25,138.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/friend_icon_desert.png</key>
		<dict>
			<key>frame</key>
			<string>{{1756.875,1516.875},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/friend_icon_modern.png</key>
		<dict>
			<key>frame</key>
			<string>{{1648.125,1288.125},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/friend_icon_oil.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,1048.125},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/goods_bar_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{999.375,1408.125},{183.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,93.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/goods_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,1211.25},{161.25,71.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161.25,71.25}}</string>
			<key>sourceSize</key>
			<string>{161.25,71.25}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/goods_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,888.75},{131.25,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131.25,135}}</string>
			<key>sourceSize</key>
			<string>{131.25,135}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/luxury_casual_tourist_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1631.25,453.75},{138.75,123.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{138.75,123.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/oil_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1811.25,301.875},{105,135}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,0},{105,135}}</string>
			<key>sourceSize</key>
			<string>{131.25,135}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/point_counter_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1586.25,1546.875},{165,165}}</string>
			<key>offset</key>
			<string>{-20.625,3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,165}}</string>
			<key>sourceSize</key>
			<string>{206.25,172.5}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/popover_energy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321.875,1048.125},{232.5,138.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,138.75}}</string>
			<key>sourceSize</key>
			<string>{232.5,138.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/popover_goods.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340.625,309.375},{322.5,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322.5,135}}</string>
			<key>sourceSize</key>
			<string>{322.5,135}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/popover_prestige_points_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321.875,1192.5},{232.5,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232.5,135}}</string>
			<key>sourceSize</key>
			<string>{232.5,135}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/population_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1096.875},{371.25,123.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371.25,123.75}}</string>
			<key>sourceSize</key>
			<string>{371.25,123.75}</string>
		</dict>
		<key>main_screen_ui/bottom_bar/popup_tourists.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,862.5},{367.5,228.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367.5,228.75}}</string>
			<key>sourceSize</key>
			<string>{367.5,228.75}</string>
		</dict>
		<key>main_screen_ui/edit_menu/bottom_dialogue_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1760.625,738.75},{3.75,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3.75,150}}</string>
			<key>sourceSize</key>
			<string>{3.75,150}</string>
		</dict>
		<key>main_screen_ui/edit_menu/done_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111.875,459.375},{213.75,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213.75,120}}</string>
			<key>sourceSize</key>
			<string>{213.75,120}</string>
		</dict>
		<key>main_screen_ui/goals_menu/goals_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,1226.25},{228.75,195}}</string>
			<key>offset</key>
			<string>{-5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,20.625},{228.75,195}}</string>
			<key>sourceSize</key>
			<string>{258.75,225}</string>
		</dict>
		<key>main_screen_ui/goals_menu/goals_expanded.png</key>
		<dict>
			<key>frame</key>
			<string>{{249.375,363.75},{240,825}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,825}}</string>
			<key>sourceSize</key>
			<string>{240,825}</string>
		</dict>
		<key>main_screen_ui/goals_menu/goals_notifier.png</key>
		<dict>
			<key>frame</key>
			<string>{{1723.125,1006.875},{103.125,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103.125,97.5}}</string>
			<key>sourceSize</key>
			<string>{103.125,97.5}</string>
		</dict>
		<key>main_screen_ui/right_menu/goals_notifier.png</key>
		<dict>
			<key>frame</key>
			<string>{{1723.125,1006.875},{103.125,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103.125,97.5}}</string>
			<key>sourceSize</key>
			<string>{103.125,97.5}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{924.375,646.875},{240,206.25}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{240,206.25}}</string>
			<key>sourceSize</key>
			<string>{258.75,225}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_expanded.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,363.75},{240,825}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,825}}</string>
			<key>sourceSize</key>
			<string>{240,825}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_move.png</key>
		<dict>
			<key>frame</key>
			<string>{{988.125,1770},{138.75,146.25}}</string>
			<key>offset</key>
			<string>{0,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,0},{138.75,146.25}}</string>
			<key>sourceSize</key>
			<string>{157.5,150}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_settings.png</key>
		<dict>
			<key>frame</key>
			<string>{{1132.5,1770},{138.75,142.5}}</string>
			<key>offset</key>
			<string>{0,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,1.875},{138.75,142.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,150}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_souk.png</key>
		<dict>
			<key>frame</key>
			<string>{{1597.5,738.75},{157.5,150}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,18.75},{157.5,150}}</string>
			<key>sourceSize</key>
			<string>{187.5,176.25}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_souk_arabic.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610.625,583.125},{157.5,150}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,18.75},{157.5,150}}</string>
			<key>sourceSize</key>
			<string>{187.5,176.25}</string>
		</dict>
		<key>main_screen_ui/right_menu/menu_visit.png</key>
		<dict>
			<key>frame</key>
			<string>{{783.75,1426.875},{187.5,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187.5,187.5}}</string>
			<key>sourceSize</key>
			<string>{187.5,187.5}</string>
		</dict>
		<key>main_screen_ui/ui_effects/casual_tourist_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192.5,322.5},{142.5,131.25}}</string>
			<key>offset</key>
			<string>{5.625,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,31.875},{142.5,131.25}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>main_screen_ui/ui_effects/coins_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1775.625,442.5},{108.75,127.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{108.75,127.5}</string>
		</dict>
		<key>main_screen_ui/ui_effects/energy_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1668.75,309.375},{101.25,138.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101.25,138.75}}</string>
			<key>sourceSize</key>
			<string>{101.25,138.75}</string>
		</dict>
		<key>main_screen_ui/ui_effects/goods_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,888.75},{131.25,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131.25,135}}</string>
			<key>sourceSize</key>
			<string>{131.25,135}</string>
		</dict>
		<key>main_screen_ui/ui_effects/luxury_tourist_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,755.625},{135,127.5}}</string>
			<key>offset</key>
			<string>{5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28.125,31.875},{135,127.5}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>main_screen_ui/ui_effects/oil_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1811.25,301.875},{105,135}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,0},{105,135}}</string>
			<key>sourceSize</key>
			<string>{131.25,135}</string>
		</dict>
		<key>main_screen_ui/ui_effects/prestige_points_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188.75,1218.75},{112.5,131.25}}</string>
			<key>offset</key>
			<string>{5.625,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22.5,9.375},{112.5,131.25}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>model_town/home_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1625.625},{367.5,198.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367.5,198.75}}</string>
			<key>sourceSize</key>
			<string>{367.5,198.75}</string>
		</dict>
		<key>model_town/town_name.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340.625,3.75},{498.75,80.625}}</string>
			<key>offset</key>
			<string>{7.5,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35.625,26.25},{498.75,80.625}}</string>
			<key>sourceSize</key>
			<string>{555,121.875}</string>
		</dict>
		<key>model_town/visit_popup_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781.25,1680},{131.25,127.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131.25,127.5}}</string>
			<key>sourceSize</key>
			<string>{131.25,127.5}</string>
		</dict>
		<key>tooltips_ui/move_cashreg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1773.75,682.5},{112.5,101.25}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,9.375},{112.5,101.25}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_cashreg_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{1775.625,575.625},{112.5,101.25}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,9.375},{112.5,101.25}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_checkmark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1700.625,903.75},{108.75,97.5}}</string>
			<key>offset</key>
			<string>{1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,7.5},{108.75,97.5}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_checkmark_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{1586.25,894.375},{108.75,97.5}}</string>
			<key>offset</key>
			<string>{1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,7.5},{108.75,97.5}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610.625,1451.25},{90,90}}</string>
			<key>offset</key>
			<string>{1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13.125},{90,90}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_item_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,363.75},{611.25,277.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{611.25,277.5}}</string>
			<key>sourceSize</key>
			<string>{611.25,277.5}</string>
		</dict>
		<key>tooltips_ui/move_rotate.png</key>
		<dict>
			<key>frame</key>
			<string>{{1770,789.375},{112.5,108.75}}</string>
			<key>offset</key>
			<string>{1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,1.875},{112.5,108.75}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>tooltips_ui/move_rotate_disabled.png</key>
		<dict>
			<key>frame</key>
			<string>{{1530,1333.125},{112.5,108.75}}</string>
			<key>offset</key>
			<string>{1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,1.875},{112.5,108.75}}</string>
			<key>sourceSize</key>
			<string>{116.25,116.25}</string>
		</dict>
		<key>topbar_ui/accel_progress_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1331.25,549.375},{273.75,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273.75,97.5}}</string>
			<key>sourceSize</key>
			<string>{273.75,97.5}</string>
		</dict>
		<key>topbar_ui/accel_progress_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1830},{206.25,33.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206.25,33.75}}</string>
			<key>sourceSize</key>
			<string>{206.25,33.75}</string>
		</dict>
		<key>topbar_ui/accelerate_popover.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1410},{423.75,210}}</string>
			<key>offset</key>
			<string>{0,9.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,0},{423.75,210}}</string>
			<key>sourceSize</key>
			<string>{461.25,228.75}</string>
		</dict>
		<key>topbar_ui/accelerate_popover_vungle_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,646.875},{423.75,210}}</string>
			<key>offset</key>
			<string>{-1.875,9.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,0},{423.75,210}}</string>
			<key>sourceSize</key>
			<string>{461.25,228.75}</string>
		</dict>
		<key>topbar_ui/accelerate_popover_vungle.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1194.375},{423.75,210}}</string>
			<key>offset</key>
			<string>{-1.875,9.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,0},{423.75,210}}</string>
			<key>sourceSize</key>
			<string>{461.25,228.75}</string>
		</dict>
		<key>topbar_ui/top_bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,174.375},{993.75,183.75}}</string>
			<key>offset</key>
			<string>{0,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,0},{993.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{1031.25,198.75}</string>
		</dict>
		<key>tourist_statistics/tourist_statistic_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1447.5,1736.25},{165,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,165}}</string>
			<key>sourceSize</key>
			<string>{165,165}</string>
		</dict>
		<key>traveling/travel_desert_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1396.875,1546.875},{183.75,183.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_desert_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192.5,174.375},{142.5,142.5}}</string>
			<key>offset</key>
			<string>{0,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20.625,24.375},{142.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_modern_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618.125,1717.5},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{-1.875,-9.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,22.5},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_modern_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1207.5,1546.875},{183.75,183.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_modern_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{999.375,1218.75},{183.75,183.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1276.875,1736.25},{165,165}}</string>
			<key>offset</key>
			<string>{-1.875,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,28.125},{165,165}}</string>
			<key>sourceSize</key>
			<string>{206.25,206.25}</string>
		</dict>
		<key>traveling/travel_oil_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044.375,1606.875},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{-1.875,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,20.625},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_oil_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1132.5,1029.375},{183.75,183.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_oil_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003.125,174.375},{183.75,183.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,183.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,183.75}</string>
		</dict>
		<key>traveling/travel_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1691.25,90},{206.25,206.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206.25,206.25}}</string>
			<key>sourceSize</key>
			<string>{206.25,206.25}</string>
		</dict>
		<key>tutorial/red_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1170,585},{150,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,165}}</string>
			<key>sourceSize</key>
			<string>{150,165}</string>
		</dict>
		<key>tutorial/skip_tutorial_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{433.125,1226.25},{326.25,236.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326.25,236.25}}</string>
			<key>sourceSize</key>
			<string>{326.25,236.25}</string>
		</dict>
		<key>tutorial/tutorial_1_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1625.625},{367.5,198.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367.5,198.75}}</string>
			<key>sourceSize</key>
			<string>{367.5,198.75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>game-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:66f4fbf85d83827a094e722546474e2d$</string>
		<key>textureFileName</key>
		<string>game-images.png</string>
	</dict>
</dict>
</plist>
