<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>settings_ui/about_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{678.75,603.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{678.75,603.75}}</string>
			<key>sourceSize</key>
			<string>{678.75,603.75}</string>
		</dict>
		<key>settings_ui/arrow_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181.25,538.125},{183.75,138.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,138.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,138.75}</string>
		</dict>
		<key>settings_ui/arrow_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181.25,393.75},{183.75,138.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,138.75}}</string>
			<key>sourceSize</key>
			<string>{183.75,138.75}</string>
		</dict>
		<key>settings_ui/credits_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{746.25,1209.375},{386.25,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386.25,108.75}}</string>
			<key>sourceSize</key>
			<string>{386.25,108.75}</string>
		</dict>
		<key>settings_ui/credits_ui/credits_camel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372.5,3.75},{495,675}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,675}}</string>
			<key>sourceSize</key>
			<string>{495,675}</string>
		</dict>
		<key>settings_ui/credits_ui/credits_lumba.png</key>
		<dict>
			<key>frame</key>
			<string>{{986.25,823.125},{296.25,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296.25,120}}</string>
			<key>sourceSize</key>
			<string>{296.25,120}</string>
		</dict>
		<key>settings_ui/credits_ui/iap_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,933.75},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,18.75},{75,75}}</string>
			<key>sourceSize</key>
			<string>{112.5,112.5}</string>
		</dict>
		<key>settings_ui/double_menu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{688.125,3.75},{678.75,247.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{678.75,247.5}}</string>
			<key>sourceSize</key>
			<string>{678.75,247.5}</string>
		</dict>
		<key>settings_ui/language_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{688.125,256.875},{678.75,131.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{678.75,131.25}}</string>
			<key>sourceSize</key>
			<string>{678.75,131.25}</string>
		</dict>
		<key>settings_ui/lumba_logo_monochrome.png</key>
		<dict>
			<key>frame</key>
			<string>{{746.25,1117.5},{198.75,86.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198.75,86.25}}</string>
			<key>sourceSize</key>
			<string>{198.75,86.25}</string>
		</dict>
		<key>settings_ui/play_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181.25,682.5},{135,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,135}}</string>
			<key>sourceSize</key>
			<string>{135,135}</string>
		</dict>
		<key>settings_ui/privacy_policy_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205.625,1141.875},{386.25,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386.25,108.75}}</string>
			<key>sourceSize</key>
			<string>{386.25,108.75}</string>
		</dict>
		<key>settings_ui/radiobutton_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,768.75},{78.75,78.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78.75,78.75}}</string>
			<key>sourceSize</key>
			<string>{78.75,78.75}</string>
		</dict>
		<key>settings_ui/radiobutton_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,684.375},{78.75,78.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78.75,78.75}}</string>
			<key>sourceSize</key>
			<string>{78.75,78.75}</string>
		</dict>
		<key>settings_ui/reset_game_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205.625,1027.5},{386.25,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386.25,108.75}}</string>
			<key>sourceSize</key>
			<string>{386.25,108.75}</string>
		</dict>
		<key>settings_ui/save_close_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1717.5},{345,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{345,187.5}</string>
		</dict>
		<key>settings_ui/terms_service_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{354.375,1717.5},{386.25,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386.25,108.75}}</string>
			<key>sourceSize</key>
			<string>{386.25,108.75}</string>
		</dict>
		<key>settings_ui/toggler_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{986.25,1048.125},{213.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{213.75,93.75}</string>
		</dict>
		<key>settings_ui/toggler_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{986.25,948.75},{213.75,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213.75,93.75}}</string>
			<key>sourceSize</key>
			<string>{213.75,93.75}</string>
		</dict>
		<key>settings_ui/toggler_slider.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,853.125},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>settings_ui/videos_ui/iap_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,933.75},{75,75}}</string>
			<key>offset</key>
			<string>{18.75,18.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56.25,18.75},{75,75}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_narrative1.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1336.875},{483.75,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{483.75,375}}</string>
			<key>sourceSize</key>
			<string>{483.75,375}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_narrative2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,956.25},{483.75,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{483.75,375}}</string>
			<key>sourceSize</key>
			<string>{483.75,375}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_narrative3.png</key>
		<dict>
			<key>frame</key>
			<string>{{496.875,736.875},{483.75,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{483.75,375}}</string>
			<key>sourceSize</key>
			<string>{483.75,375}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_tut2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,613.125},{487.5,337.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487.5,337.5}}</string>
			<key>sourceSize</key>
			<string>{487.5,337.5}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_tut3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321.875,684.375},{487.5,337.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487.5,337.5}}</string>
			<key>sourceSize</key>
			<string>{487.5,337.5}</string>
		</dict>
		<key>settings_ui/videos_ui/thumb_tut_IAP.png</key>
		<dict>
			<key>frame</key>
			<string>{{688.125,393.75},{487.5,337.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487.5,337.5}}</string>
			<key>sourceSize</key>
			<string>{487.5,337.5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>settings-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5f53edadb2aec370018554b066659552$</string>
		<key>textureFileName</key>
		<string>settings-images.png</string>
	</dict>
</dict>
</plist>
