<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>social_screen/55_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,669.375},{97.5,112.5}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43.125,11.25},{97.5,112.5}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>social_screen/button_achievements.png</key>
		<dict>
			<key>frame</key>
			<string>{{234.375,1010.625},{144.375,129.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144.375,129.375}}</string>
			<key>sourceSize</key>
			<string>{144.375,129.375}</string>
		</dict>
		<key>social_screen/button_controller_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,555},{108.75,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108.75,108.75}}</string>
			<key>sourceSize</key>
			<string>{108.75,108.75}</string>
		</dict>
		<key>social_screen/button_facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{395.625,453.75},{283.125,99.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283.125,99.375}}</string>
			<key>sourceSize</key>
			<string>{283.125,99.375}</string>
		</dict>
		<key>social_screen/button_g_plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378.125,768.75},{97.5,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97.5,97.5}}</string>
			<key>sourceSize</key>
			<string>{97.5,97.5}</string>
		</dict>
		<key>social_screen/button_gplay.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588.125,729.375},{283.125,99.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283.125,99.375}}</string>
			<key>sourceSize</key>
			<string>{283.125,99.375}</string>
		</dict>
		<key>social_screen/button_leaderboards.png</key>
		<dict>
			<key>frame</key>
			<string>{{234.375,875.625},{144.375,129.375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144.375,129.375}}</string>
			<key>sourceSize</key>
			<string>{144.375,129.375}</string>
		</dict>
		<key>social_screen/diamond_button_desert.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588.125,487.5},{300,236.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,236.25}}</string>
			<key>sourceSize</key>
			<string>{300,236.25}</string>
		</dict>
		<key>social_screen/diamond_button_modern.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,245.625},{300,236.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,236.25}}</string>
			<key>sourceSize</key>
			<string>{300,236.25}</string>
		</dict>
		<key>social_screen/diamond_button_oil.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,3.75},{300,236.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,236.25}}</string>
			<key>sourceSize</key>
			<string>{300,236.25}</string>
		</dict>
		<key>social_screen/friend_icon_desert.png</key>
		<dict>
			<key>frame</key>
			<string>{{1215,693.75},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>social_screen/friend_icon_modern.png</key>
		<dict>
			<key>frame</key>
			<string>{{1425,605.625},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>social_screen/friend_icon_oil.png</key>
		<dict>
			<key>frame</key>
			<string>{{1425,442.5},{157.5,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,157.5}}</string>
			<key>sourceSize</key>
			<string>{157.5,157.5}</string>
		</dict>
		<key>social_screen/games_controller_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1106.25},{211.875,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211.875,150}}</string>
			<key>sourceSize</key>
			<string>{211.875,150}</string>
		</dict>
		<key>social_screen/gplay_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{526.875,271.875},{500.625,176.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500.625,176.25}}</string>
			<key>sourceSize</key>
			<string>{500.625,176.25}</string>
		</dict>
		<key>social_screen/modal_p1_face.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,875.625},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>social_screen/modal_p2_face.png</key>
		<dict>
			<key>frame</key>
			<string>{{395.625,789.375},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>social_screen/modal_p3_face.png</key>
		<dict>
			<key>frame</key>
			<string>{{626.25,785.625},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>social_screen/overlay_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018.125,693.75},{191.25,161.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191.25,161.25}}</string>
			<key>sourceSize</key>
			<string>{191.25,161.25}</string>
		</dict>
		<key>social_screen/overlay_fb.png</key>
		<dict>
			<key>frame</key>
			<string>{{856.875,787.5},{135,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,135}}</string>
			<key>sourceSize</key>
			<string>{135,135}</string>
		</dict>
		<key>social_screen/phase_progress_indicator.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{549.375,176.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{549.375,176.25}}</string>
			<key>sourceSize</key>
			<string>{549.375,176.25}</string>
		</dict>
		<key>social_screen/point_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1425,271.875},{163.125,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163.125,165}}</string>
			<key>sourceSize</key>
			<string>{163.125,165}</string>
		</dict>
		<key>social_screen/social_arrow_desert.png</key>
		<dict>
			<key>frame</key>
			<string>{{1081.875,3.75},{517.5,262.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517.5,262.5}}</string>
			<key>sourceSize</key>
			<string>{517.5,262.5}</string>
		</dict>
		<key>social_screen/social_arrow_modern.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,185.625},{517.5,262.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517.5,262.5}}</string>
			<key>sourceSize</key>
			<string>{517.5,262.5}</string>
		</dict>
		<key>social_screen/social_arrow_oil.png</key>
		<dict>
			<key>frame</key>
			<string>{{558.75,3.75},{517.5,262.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517.5,262.5}}</string>
			<key>sourceSize</key>
			<string>{517.5,262.5}</string>
		</dict>
		<key>social_screen/social_friend_above_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{684.375,453.75},{283.125,95.625}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283.125,95.625}}</string>
			<key>sourceSize</key>
			<string>{283.125,95.625}</string>
		</dict>
		<key>social_screen/social_friend_invite.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,453.75},{386.25,416.25}}</string>
			<key>offset</key>
			<string>{0,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,176.25},{386.25,416.25}}</string>
			<key>sourceSize</key>
			<string>{386.25,618.75}</string>
		</dict>
		<key>social_screen/social_friend_placeholder.png</key>
		<dict>
			<key>frame</key>
			<string>{{395.625,558.75},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>social_screen/social_friend_placeholder_silhouette.png</key>
		<dict>
			<key>frame</key>
			<string>{{684.375,555},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>social_screen/social_friend_town.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033.125,271.875},{386.25,416.25}}</string>
			<key>offset</key>
			<string>{0,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,176.25},{386.25,416.25}}</string>
			<key>sourceSize</key>
			<string>{386.25,618.75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>social-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f5a93a892682130b659458b2193577e1$</string>
		<key>textureFileName</key>
		<string>social-images.png</string>
	</dict>
</dict>
</plist>
