<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>crop_selection_ui/crop_close_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1653.75},{345,187.5}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{363.75,206.25}</string>
		</dict>
		<key>crop_selection_ui/crop_coin_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1490.625,815.625},{52.5,63.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52.5,63.75}}</string>
			<key>sourceSize</key>
			<string>{52.5,63.75}</string>
		</dict>
		<key>crop_selection_ui/crop_goods_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1818.75,360},{67.5,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67.5,75}}</string>
			<key>sourceSize</key>
			<string>{67.5,75}</string>
		</dict>
		<key>crop_selection_ui/maintenance_oil_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{980.625,1170},{41.25,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41.25,60}}</string>
			<key>sourceSize</key>
			<string>{41.25,60}</string>
		</dict>
		<key>dialogues_ui/bubble_coin_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1818.75,223.125},{97.5,131.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97.5,131.25}}</string>
			<key>sourceSize</key>
			<string>{97.5,131.25}</string>
		</dict>
		<key>dialogues_ui/coin_purchase_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,735},{431.25,232.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431.25,232.5}}</string>
			<key>sourceSize</key>
			<string>{431.25,232.5}</string>
		</dict>
		<key>dialogues_ui/dialogue_icon_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{802.5,965.625},{225,198.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,198.75}}</string>
			<key>sourceSize</key>
			<string>{225,198.75}</string>
		</dict>
		<key>dialogues_ui/dialogue_icon_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{301.875,1241.25},{213.75,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213.75,213.75}}</string>
			<key>sourceSize</key>
			<string>{213.75,213.75}</string>
		</dict>
		<key>dialogues_ui/goal_completion/coins_icon_goal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526.25,1359.375},{97.5,116.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97.5,116.25}}</string>
			<key>sourceSize</key>
			<string>{97.5,116.25}</string>
		</dict>
		<key>dialogues_ui/sale_confirm_cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1460.625},{345,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{345,187.5}</string>
		</dict>
		<key>dialogues_ui/sale_confirm_ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,541.875},{345,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{345,187.5}</string>
		</dict>
		<key>dialogues_ui/storage_capacity_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,735},{431.25,232.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431.25,232.5}}</string>
			<key>sourceSize</key>
			<string>{431.25,232.5}</string>
		</dict>
		<key>dialogues_ui/tasks/task_button_ok.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1653.75},{345,187.5}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{363.75,206.25}</string>
		</dict>
		<key>dialogues_ui/tasks/task_done_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,643.125},{382.5,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{382.5,75}}</string>
			<key>sourceSize</key>
			<string>{382.5,75}</string>
		</dict>
		<key>dialogues_ui/tasks/task_not_done_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{301.875,1160.625},{382.5,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{382.5,75}}</string>
			<key>sourceSize</key>
			<string>{382.5,75}</string>
		</dict>
		<key>dialogues_ui/tasks/task_text_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1479.375,911.25},{120,172.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,172.5}}</string>
			<key>sourceSize</key>
			<string>{120,172.5}</string>
		</dict>
		<key>level_up_ui/bonus_underline.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1846.875},{240,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,45}}</string>
			<key>sourceSize</key>
			<string>{240,45}</string>
		</dict>
		<key>level_up_ui/level_ok_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,541.875},{345,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{345,187.5}</string>
		</dict>
		<key>level_up_ui/lvlup_progress_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,973.125},{431.25,168.75}}</string>
			<key>offset</key>
			<string>{3.75,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.5,7.5},{431.25,168.75}}</string>
			<key>sourceSize</key>
			<string>{438.75,176.25}</string>
		</dict>
		<key>level_up_ui/lvlup_progress_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,723.75},{337.5,86.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337.5,86.25}}</string>
			<key>sourceSize</key>
			<string>{337.5,86.25}</string>
		</dict>
		<key>maintenance_menu/maintenance_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1599.375,643.125},{168.75,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168.75,120}}</string>
			<key>sourceSize</key>
			<string>{168.75,120}</string>
		</dict>
		<key>maintenance_menu/maintenance_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,1231.875},{206.25,116.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206.25,116.25}}</string>
			<key>sourceSize</key>
			<string>{206.25,116.25}</string>
		</dict>
		<key>maintenance_menu/maintenance_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{354.375,1657.5},{183.75,191.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,191.25}}</string>
			<key>sourceSize</key>
			<string>{183.75,191.25}</string>
		</dict>
		<key>oil_reserve/barrel_counter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1239.375,442.5},{506.25,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{506.25,195}}</string>
			<key>sourceSize</key>
			<string>{506.25,195}</string>
		</dict>
		<key>oil_reserve/oil_dial_pointer.png</key>
		<dict>
			<key>frame</key>
			<string>{{716.25,635.625},{292.5,93.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292.5,93.75}}</string>
			<key>sourceSize</key>
			<string>{292.5,93.75}</string>
		</dict>
		<key>oil_reserve/oil_reserve_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{727.5,435},{506.25,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{506.25,195}}</string>
			<key>sourceSize</key>
			<string>{506.25,195}</string>
		</dict>
		<key>oil_reserve/oil_reserve_full_high.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,1125},{262.5,101.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262.5,101.25}}</string>
			<key>sourceSize</key>
			<string>{262.5,101.25}</string>
		</dict>
		<key>oil_reserve/oil_reserve_full_low.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,1018.125},{262.5,101.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262.5,101.25}}</string>
			<key>sourceSize</key>
			<string>{262.5,101.25}</string>
		</dict>
		<key>oil_reserve/oil_reserve_full_med.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,911.25},{262.5,101.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262.5,101.25}}</string>
			<key>sourceSize</key>
			<string>{262.5,101.25}</string>
		</dict>
		<key>oil_reserve/oil_small_dial.png</key>
		<dict>
			<key>frame</key>
			<string>{{1751.25,442.5},{165,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,165}}</string>
			<key>sourceSize</key>
			<string>{165,165}</string>
		</dict>
		<key>oil_reserve/oil_small_pointer.png</key>
		<dict>
			<key>frame</key>
			<string>{{301.875,1080},{11.25,48.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11.25,48.75}}</string>
			<key>sourceSize</key>
			<string>{11.25,48.75}</string>
		</dict>
		<key>souk_screen/close_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1468.125,1713.75},{131.25,123.75}}</string>
			<key>offset</key>
			<string>{0,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{131.25,123.75}}</string>
			<key>sourceSize</key>
			<string>{131.25,127.5}</string>
		</dict>
		<key>souk_screen/destination_icon_casual.png</key>
		<dict>
			<key>frame</key>
			<string>{{1700.625,1481.25},{75,67.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,67.5}}</string>
			<key>sourceSize</key>
			<string>{75,67.5}</string>
		</dict>
		<key>souk_screen/destination_icon_luxury.png</key>
		<dict>
			<key>frame</key>
			<string>{{729.375,1766.25},{71.25,67.5}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71.25,67.5}}</string>
			<key>sourceSize</key>
			<string>{75,67.5}</string>
		</dict>
		<key>souk_screen/double_category/icon_casual_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,905.625},{172.5,161.25}}</string>
			<key>offset</key>
			<string>{-7.5,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16.875},{172.5,161.25}}</string>
			<key>sourceSize</key>
			<string>{187.5,187.5}</string>
		</dict>
		<key>souk_screen/double_category/icon_casual_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033.125,1068.75},{172.5,161.25}}</string>
			<key>offset</key>
			<string>{-7.5,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16.875},{172.5,161.25}}</string>
			<key>sourceSize</key>
			<string>{187.5,187.5}</string>
		</dict>
		<key>souk_screen/double_category/icon_luxury_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033.125,898.125},{172.5,165}}</string>
			<key>offset</key>
			<string>{-7.5,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{172.5,165}}</string>
			<key>sourceSize</key>
			<string>{187.5,187.5}</string>
		</dict>
		<key>souk_screen/double_category/icon_luxury_on.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033.125,727.5},{172.5,165}}</string>
			<key>offset</key>
			<string>{-7.5,-3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{172.5,165}}</string>
			<key>sourceSize</key>
			<string>{187.5,187.5}</string>
		</dict>
		<key>souk_screen/double_category/souk_tab_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{727.5,208.125},{562.5,221.25}}</string>
			<key>offset</key>
			<string>{-13.125,-13.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,26.25},{562.5,221.25}}</string>
			<key>sourceSize</key>
			<string>{588.75,247.5}</string>
		</dict>
		<key>souk_screen/friend_purchase_fb_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,1080},{292.5,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292.5,375}}</string>
			<key>sourceSize</key>
			<string>{292.5,375}</string>
		</dict>
		<key>souk_screen/icon_population.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,1160.625},{82.5,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82.5,75}}</string>
			<key>sourceSize</key>
			<string>{82.5,75}</string>
		</dict>
		<key>souk_screen/icons/AirplanesIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1773.75,613.125},{142.5,142.5}}</string>
			<key>offset</key>
			<string>{5.625,-7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24.375,26.25},{142.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/icons/ArrivalsIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1479.375,1089.375},{157.5,153.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157.5,153.75}}</string>
			<key>sourceSize</key>
			<string>{157.5,153.75}</string>
		</dict>
		<key>souk_screen/icons/BusinessIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1786.875,1186.875},{120,123.75}}</string>
			<key>offset</key>
			<string>{-1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,9.375},{120,123.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/CommunityIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{931.875,1792.5},{116.25,112.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116.25,112.5}}</string>
			<key>sourceSize</key>
			<string>{116.25,112.5}</string>
		</dict>
		<key>souk_screen/icons/CurrencyIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{706.875,1404.375},{108.75,123.75}}</string>
			<key>offset</key>
			<string>{-1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,9.375},{108.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/DecorationIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1053.75,1792.5},{112.5,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,18.75},{112.5,108.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/EnergyIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{729.375,1636.875},{82.5,123.75}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,11.25},{82.5,123.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/ExpansionIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1333.125,1565.625},{146.25,112.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16.875},{146.25,112.5}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/FarmIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{806.25,1768.125},{120,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,18.75},{120,108.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/NewIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1751.25,1588.125},{120,120}}</string>
			<key>offset</key>
			<string>{0,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,11.25},{120,120}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/OilIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1755,768.75},{120,131.25}}</string>
			<key>offset</key>
			<string>{-1.875,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,5.625},{120,131.25}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/ResidentialIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{703.125,1533.75},{120,97.5}}</string>
			<key>offset</key>
			<string>{0,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,26.25},{120,97.5}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/StorageIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781.25,1496.25},{123.75,86.25}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,30},{123.75,86.25}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/VIPIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1331.25,1683.75},{131.25,131.25}}</string>
			<key>offset</key>
			<string>{5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,30},{131.25,131.25}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/icons/VideoIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1786.875,1050},{116.25,131.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116.25,131.25}}</string>
			<key>sourceSize</key>
			<string>{116.25,131.25}</string>
		</dict>
		<key>souk_screen/icons/p2BusinessIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1485,1584.375},{131.25,123.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.5,11.25},{131.25,123.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/p2CommunityIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{828.75,1524.375},{135,108.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,18.75},{135,108.75}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/p2ResidentialIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,1717.5},{123.75,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.25,13.125},{123.75,120}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/icons/p3BusinessIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{706.875,1241.25},{108.75,157.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{108.75,157.5}}</string>
			<key>sourceSize</key>
			<string>{138.75,157.5}</string>
		</dict>
		<key>souk_screen/icons/p3CommunityIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1783.125,905.625},{120,138.75}}</string>
			<key>offset</key>
			<string>{-5.625,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,0},{120,138.75}}</string>
			<key>sourceSize</key>
			<string>{138.75,153.75}</string>
		</dict>
		<key>souk_screen/icons/p3ExpansionIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1642.5,1072.5},{138.75,165}}</string>
			<key>offset</key>
			<string>{5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.25,13.125},{138.75,165}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/icons/p3ResidentialIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{821.25,1406.25},{146.25,112.5}}</string>
			<key>offset</key>
			<string>{3.75,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20.625,39.375},{146.25,112.5}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/products/10_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{1228.125,1781.25},{97.5,90}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43.125,22.5},{97.5,90}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/125_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621.875,1584.375},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{0,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31.875,1.875},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/2000_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{821.25,1170},{153.75,135}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{153.75,135}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/25000_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{802.5,735},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>souk_screen/products/300_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{954.375,1655.625},{131.25,131.25}}</string>
			<key>offset</key>
			<string>{0,1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28.125,0},{131.25,131.25}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/5000_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{1554.375,768.75},{195,131.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,131.25}}</string>
			<key>sourceSize</key>
			<string>{195,131.25}</string>
		</dict>
		<key>souk_screen/products/55_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{1228.125,1663.125},{97.5,112.5}}</string>
			<key>offset</key>
			<string>{-1.875,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43.125,11.25},{97.5,112.5}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/900_dinars.png</key>
		<dict>
			<key>frame</key>
			<string>{{1781.25,1355.625},{135,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.25,0},{135,135}}</string>
			<key>sourceSize</key>
			<string>{187.5,135}</string>
		</dict>
		<key>souk_screen/products/AirportExpansionIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{821.25,1310.625},{153.75,90}}</string>
			<key>offset</key>
			<string>{5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.75,50.625},{153.75,90}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/products/OilExpansionIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1629.375,1355.625},{146.25,120}}</string>
			<key>offset</key>
			<string>{0,3.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9.375},{146.25,120}}</string>
			<key>sourceSize</key>
			<string>{146.25,146.25}</string>
		</dict>
		<key>souk_screen/products/Video1.png</key>
		<dict>
			<key>frame</key>
			<string>{{354.375,1460.625},{183.75,191.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183.75,191.25}}</string>
			<key>sourceSize</key>
			<string>{183.75,191.25}</string>
		</dict>
		<key>souk_screen/products/Video2.png</key>
		<dict>
			<key>frame</key>
			<string>{{543.75,1646.25},{180,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,180}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/products/Video3.png</key>
		<dict>
			<key>frame</key>
			<string>{{521.25,1241.25},{180,198.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,198.75}}</string>
			<key>sourceSize</key>
			<string>{180,198.75}</string>
		</dict>
		<key>souk_screen/products/WaterExpansionIcon.png</key>
		<dict>
			<key>frame</key>
			<string>{{543.75,1831.875},{135,78.75}}</string>
			<key>offset</key>
			<string>{5.625,-5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28.125,56.25},{135,78.75}}</string>
			<key>sourceSize</key>
			<string>{180,180}</string>
		</dict>
		<key>souk_screen/souk_dinar_dialogue_item_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014.375,635.625},{191.25,86.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191.25,86.25}}</string>
			<key>sourceSize</key>
			<string>{191.25,86.25}</string>
		</dict>
		<key>souk_screen/souk_item_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211.25,815.625},{273.75,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273.75,90}}</string>
			<key>sourceSize</key>
			<string>{273.75,90}</string>
		</dict>
		<key>souk_screen/souk_item_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,3.75},{356.25,532.5}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,16.875},{356.25,532.5}}</string>
			<key>sourceSize</key>
			<string>{386.25,562.5}</string>
		</dict>
		<key>souk_screen/souk_menu_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1295.625,223.125},{517.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{517.5,213.75}</string>
		</dict>
		<key>souk_screen/souk_menu_arrow_opaque.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348.125,3.75},{517.5,213.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517.5,213.75}}</string>
			<key>sourceSize</key>
			<string>{517.5,213.75}</string>
		</dict>
		<key>souk_screen/souk_menu_separator.png</key>
		<dict>
			<key>frame</key>
			<string>{{354.375,1147.5},{427.5,7.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427.5,7.5}}</string>
			<key>sourceSize</key>
			<string>{427.5,7.5}</string>
		</dict>
		<key>souk_screen/souk_vip_item_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,541.875},{356.25,532.5}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,16.875},{356.25,532.5}}</string>
			<key>sourceSize</key>
			<string>{386.25,562.5}</string>
		</dict>
		<key>souk_screen/souk_water_item_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{356.25,532.5}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16.875,16.875},{356.25,532.5}}</string>
			<key>sourceSize</key>
			<string>{386.25,562.5}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_alexandria.png</key>
		<dict>
			<key>frame</key>
			<string>{{1151.25,1560},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_delhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{969.375,1552.5},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_istanbul.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518.75,1481.25},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_kuwait.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336.875,1462.5},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_london.png</key>
		<dict>
			<key>frame</key>
			<string>{{980.625,1235.625},{176.25,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176.25,105}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_new_york.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,1456.875},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_paris.png</key>
		<dict>
			<key>frame</key>
			<string>{{1423.125,1248.75},{176.25,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176.25,105}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_saudi_arabia.png</key>
		<dict>
			<key>frame</key>
			<string>{{973.125,1449.375},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_singapore.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344.375,1359.375},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_sydney.png</key>
		<dict>
			<key>frame</key>
			<string>{{1162.5,1353.75},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_tokyo.png</key>
		<dict>
			<key>frame</key>
			<string>{{980.625,1346.25},{176.25,97.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3.75},{176.25,97.5}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/destination_flags/destination_flag_uae.png</key>
		<dict>
			<key>frame</key>
			<string>{{1605,1248.75},{176.25,101.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1.875},{176.25,101.25}}</string>
			<key>sourceSize</key>
			<string>{176.25,105}</string>
		</dict>
		<key>tourist_statistics/tourist_coin_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{1331.25,1820.625},{71.25,82.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71.25,82.5}}</string>
			<key>sourceSize</key>
			<string>{71.25,82.5}</string>
		</dict>
		<key>tourist_statistics/tourist_count_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{727.5,3.75},{615,198.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{615,198.75}}</string>
			<key>sourceSize</key>
			<string>{615,198.75}</string>
		</dict>
		<key>tourist_statistics/tourist_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{684.375,1839.375},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>tourist_statistics/tourist_frame_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{249.375,1846.875},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>tourist_statistics/tourist_icon_coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{1091.25,1663.125},{131.25,123.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131.25,123.75}}</string>
			<key>sourceSize</key>
			<string>{131.25,123.75}</string>
		</dict>
		<key>tourist_statistics/tourist_icon_plane.png</key>
		<dict>
			<key>frame</key>
			<string>{{817.5,1638.75},{131.25,123.75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131.25,123.75}}</string>
			<key>sourceSize</key>
			<string>{131.25,123.75}</string>
		</dict>
		<key>tourist_statistics/tourist_luxury_casual.png</key>
		<dict>
			<key>frame</key>
			<string>{{543.75,1445.625},{153.75,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153.75,195}}</string>
			<key>sourceSize</key>
			<string>{153.75,195}</string>
		</dict>
		<key>workers_ui/resident_ok_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{365.625,541.875},{345,187.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,187.5}}</string>
			<key>sourceSize</key>
			<string>{345,187.5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>souk-images.png</string>
		<key>size</key>
		<string>{1920,1920}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d4c975b3bab72b670829b4f1ed63c26c$</string>
		<key>textureFileName</key>
		<string>souk-images.png</string>
	</dict>
</dict>
</plist>
