<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>splash/lumba_watermark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1835.625,3.75},{48.75,67.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48.75,67.5}}</string>
			<key>sourceSize</key>
			<string>{48.75,67.5}</string>
		</dict>
		<key>splash/splash_progress_bar_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{1406.25,3.75},{423.75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{423.75,75}}</string>
			<key>sourceSize</key>
			<string>{423.75,75}</string>
		</dict>
		<key>splash/splash_progress_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{1406.25,195},{352.5,41.25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{352.5,41.25}}</string>
			<key>sourceSize</key>
			<string>{352.5,41.25}</string>
		</dict>
		<key>welcome_ui/blue_checked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1738.125,84.375},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>welcome_ui/blue_unchecked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1627.5,84.375},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>welcome_ui/lang_select_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{444.375,3.75},{956.25,206.25}}</string>
			<key>offset</key>
			<string>{1.875,-1.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.75,3.75},{956.25,206.25}}</string>
			<key>sourceSize</key>
			<string>{960,210}</string>
		</dict>
		<key>welcome_ui/purple_checked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1516.875,84.375},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>welcome_ui/purple_unchecked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1406.25,84.375},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>welcome_ui/welcome_ok_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{3.75,3.75},{435,232.5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{435,232.5}}</string>
			<key>sourceSize</key>
			<string>{435,232.5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>splash-images.png</string>
		<key>size</key>
		<string>{1920,240}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b86acbd805a652a6122f7453e17ae5d1$</string>
		<key>textureFileName</key>
		<string>splash-images.png</string>
	</dict>
</dict>
</plist>
