<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Kuwait_Man_Front_0001-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{138.75,0},{63.75,146.25}}</string>
			<key>offset</key>
			<string>{5.625,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93.75,39.375},{63.75,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0002-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,146.25},{67.5,142.5}}</string>
			<key>offset</key>
			<string>{7.5,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93.75,43.125},{67.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0003-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{71.25,142.5}}</string>
			<key>offset</key>
			<string>{7.5,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91.875,43.125},{71.25,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0004-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{112.5,146.25},{67.5,142.5}}</string>
			<key>offset</key>
			<string>{9.375,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{67.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0005-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{71.25,0},{67.5,142.5}}</string>
			<key>offset</key>
			<string>{11.25,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{67.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0006-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{202.5,0},{63.75,142.5}}</string>
			<key>offset</key>
			<string>{9.375,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{63.75,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0007-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{266.25,0},{60,142.5}}</string>
			<key>offset</key>
			<string>{7.5,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{60,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0008-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{326.25,0},{56.25,142.5}}</string>
			<key>offset</key>
			<string>{5.625,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{56.25,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0009-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{382.5,0},{52.5,142.5}}</string>
			<key>offset</key>
			<string>{3.75,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{52.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0010-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{352.5,142.5},{48.75,146.25}}</string>
			<key>offset</key>
			<string>{1.875,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,39.375},{48.75,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0011-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{187.5,288.75},{45,146.25}}</string>
			<key>offset</key>
			<string>{0,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,39.375},{45,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0012-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{142.5,288.75},{45,146.25}}</string>
			<key>offset</key>
			<string>{-1.875,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,39.375},{45,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0013-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{97.5,288.75},{45,146.25}}</string>
			<key>offset</key>
			<string>{-1.875,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,39.375},{45,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0014-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{401.25,142.5},{45,146.25}}</string>
			<key>offset</key>
			<string>{-1.875,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,39.375},{45,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0015-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{412.5,288.75},{45,142.5}}</string>
			<key>offset</key>
			<string>{-1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0016-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{367.5,288.75},{45,142.5}}</string>
			<key>offset</key>
			<string>{-1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0017-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{322.5,288.75},{45,142.5}}</string>
			<key>offset</key>
			<string>{-1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0018-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{277.5,288.75},{45,142.5}}</string>
			<key>offset</key>
			<string>{-1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0019-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{232.5,288.75},{45,142.5}}</string>
			<key>offset</key>
			<string>{-1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0020-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,0},{45,142.5}}</string>
			<key>offset</key>
			<string>{0,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{45,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0021-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{48.75,288.75},{48.75,142.5}}</string>
			<key>offset</key>
			<string>{0,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,43.125},{48.75,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0022-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,288.75},{48.75,142.5}}</string>
			<key>offset</key>
			<string>{1.875,5.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,43.125},{48.75,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0023-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,142.5},{52.5,146.25}}</string>
			<key>offset</key>
			<string>{1.875,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,39.375},{52.5,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0024-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,142.5},{52.5,146.25}}</string>
			<key>offset</key>
			<string>{3.75,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,39.375},{52.5,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0025-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{56.25,142.5},{56.25,146.25}}</string>
			<key>offset</key>
			<string>{3.75,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95.625,39.375},{56.25,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Kuwait_Man_Front_0026-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,142.5},{56.25,146.25}}</string>
			<key>offset</key>
			<string>{5.625,7.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97.5,39.375},{56.25,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TravelingKuwaitMan-hd.png</string>
		<key>size</key>
		<string>{480,480}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b471fa6c9e8e3cc7cece0e1ca09cad11$</string>
		<key>textureFileName</key>
		<string>TravelingKuwaitMan-hd.png</string>
	</dict>
</dict>
</plist>
