<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expansion/expansion_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,480},{136,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/expansion_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,537},{136,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/expansion_arrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,458},{136,76}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/expansion_arrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,943},{136,76}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/oil_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,864},{136,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/oil_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,401},{136,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{136,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>expansion/water_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,711},{116,58}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{116,58}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>highlight/highlight_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,967},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>highlight/highlight_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,774},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>highlight/p2_highlight_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,194},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>highlight/p2_highlight_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>highlight/p3_highlight_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,194},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>highlight/p3_highlight_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>main_screen_ui/action_progress_bar/action_progress_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,616},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>main_screen_ui/action_progress_bar/action_progress_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,976},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>main_screen_ui/action_progress_bar/asset_progress_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/add_energy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,772},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/add_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,976},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{26,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{710,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,88}}</string>
                <key>sourceSize</key>
                <string>{710,88}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/coins_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,240},{152,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{152,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/coins_notifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,48},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/coins_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,236},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/dinars_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,348},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/dinars_notifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,900},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/dinars_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,723},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/energy_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,772},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/energy_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,804},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/energy_notifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,783},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/energy_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,165},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/friend_icon_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,809},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/friend_icon_modern.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,687},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/friend_icon_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,559},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/goods_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,751},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/goods_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,646},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/goods_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,474},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/luxury_casual_tourist_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,242},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/oil_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,161},{56,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/point_counter_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,825},{88,88}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/popover_energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,559},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/popover_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,165},{172,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,72}}</string>
                <key>sourceSize</key>
                <string>{172,72}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/popover_prestige_points_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,636},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/population_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,585},{198,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,66}}</string>
                <key>sourceSize</key>
                <string>{198,66}</string>
            </dict>
            <key>main_screen_ui/bottom_bar/popup_tourists.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,460},{196,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,122}}</string>
                <key>sourceSize</key>
                <string>{196,122}</string>
            </dict>
            <key>main_screen_ui/edit_menu/bottom_dialogue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,394},{2,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,80}}</string>
                <key>sourceSize</key>
                <string>{2,80}</string>
            </dict>
            <key>main_screen_ui/edit_menu/done_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,245},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>main_screen_ui/goals_menu/goals_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,654},{122,104}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{122,104}}</string>
                <key>sourceSize</key>
                <string>{138,120}</string>
            </dict>
            <key>main_screen_ui/goals_menu/goals_expanded.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,194},{128,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,440}}</string>
                <key>sourceSize</key>
                <string>{128,440}</string>
            </dict>
            <key>main_screen_ui/goals_menu/goals_notifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,537},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>main_screen_ui/right_menu/goals_notifier.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,537},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,345},{128,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{128,110}}</string>
                <key>sourceSize</key>
                <string>{138,120}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_expanded.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{128,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,440}}</string>
                <key>sourceSize</key>
                <string>{128,440}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,944},{74,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,944},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_souk.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,394},{84,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_souk_arabic.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,311},{84,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>main_screen_ui/right_menu/menu_visit.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,761},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>main_screen_ui/ui_effects/casual_tourist_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,172},{76,70}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>main_screen_ui/ui_effects/coins_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,236},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>main_screen_ui/ui_effects/energy_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,165},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>main_screen_ui/ui_effects/goods_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,474},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>main_screen_ui/ui_effects/luxury_tourist_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,403},{72,68}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{72,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>main_screen_ui/ui_effects/oil_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,161},{56,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>main_screen_ui/ui_effects/prestige_points_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,650},{60,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{60,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>model_town/home_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{196,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,106}}</string>
                <key>sourceSize</key>
                <string>{196,106}</string>
            </dict>
            <key>model_town/town_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{266,43}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{266,43}}</string>
                <key>sourceSize</key>
                <string>{296,65}</string>
            </dict>
            <key>model_town/visit_popup_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,896},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>tooltips_ui/move_cashreg.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,364},{60,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_cashreg_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,307},{60,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,482},{58,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_checkmark_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,477},{58,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,774},{48,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,194},{326,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,148}}</string>
                <key>sourceSize</key>
                <string>{326,148}</string>
            </dict>
            <key>tooltips_ui/move_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,421},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>tooltips_ui/move_rotate_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,711},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>topbar_ui/accel_progress_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,293},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>topbar_ui/accel_progress_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>topbar_ui/accelerate_popover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{226,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{226,112}}</string>
                <key>sourceSize</key>
                <string>{246,122}</string>
            </dict>
            <key>topbar_ui/accelerate_popover_vungle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,345},{226,112}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{226,112}}</string>
                <key>sourceSize</key>
                <string>{246,122}</string>
            </dict>
            <key>topbar_ui/accelerate_popover_vungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{226,112}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{226,112}}</string>
                <key>sourceSize</key>
                <string>{246,122}</string>
            </dict>
            <key>topbar_ui/top_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{530,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{530,98}}</string>
                <key>sourceSize</key>
                <string>{550,106}</string>
            </dict>
            <key>tourist_statistics/tourist_statistic_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,926},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>traveling/travel_desert_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,825},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_desert_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,93},{76,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{76,76}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_modern_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,916},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{84,84}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_modern_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,825},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_modern_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,650},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,926},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{88,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>traveling/travel_oil_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,857},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{84,84}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_oil_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,549},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_oil_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,93},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>traveling/travel_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,48},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tutorial/red_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,312},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>tutorial/skip_tutorial_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,654},{174,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,126}}</string>
                <key>sourceSize</key>
                <string>{174,126}</string>
            </dict>
            <key>tutorial/tutorial_1_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{196,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,106}}</string>
                <key>sourceSize</key>
                <string>{196,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f4fbf85d83827a094e722546474e2d$</string>
            <key>textureFileName</key>
            <string>game-images.png</string>
        </dict>
    </dict>
</plist>
