<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>social_screen/55_dinars.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,357},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{52,60}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>social_screen/button_achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,539},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>social_screen/button_controller_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,296},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>social_screen/button_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,242},{151,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,53}}</string>
                <key>sourceSize</key>
                <string>{151,53}</string>
            </dict>
            <key>social_screen/button_g_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,410},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>social_screen/button_gplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,389},{151,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,53}}</string>
                <key>sourceSize</key>
                <string>{151,53}</string>
            </dict>
            <key>social_screen/button_leaderboards.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,467},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>social_screen/diamond_button_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,260},{160,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,126}</string>
            </dict>
            <key>social_screen/diamond_button_modern.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,131},{160,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,126}</string>
            </dict>
            <key>social_screen/diamond_button_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{160,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,126}</string>
            </dict>
            <key>social_screen/friend_icon_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,370},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>social_screen/friend_icon_modern.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,323},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>social_screen/friend_icon_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,236},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>social_screen/games_controller_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{113,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,80}}</string>
                <key>sourceSize</key>
                <string>{113,80}</string>
            </dict>
            <key>social_screen/gplay_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,145},{267,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,94}}</string>
                <key>sourceSize</key>
                <string>{267,94}</string>
            </dict>
            <key>social_screen/modal_p1_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>social_screen/modal_p2_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,421},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>social_screen/modal_p3_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,419},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>social_screen/overlay_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,370},{102,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,86}}</string>
                <key>sourceSize</key>
                <string>{102,86}</string>
            </dict>
            <key>social_screen/overlay_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,420},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>social_screen/phase_progress_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,94}}</string>
                <key>sourceSize</key>
                <string>{293,94}</string>
            </dict>
            <key>social_screen/point_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,145},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>social_screen/social_arrow_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{276,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,140}}</string>
                <key>sourceSize</key>
                <string>{276,140}</string>
            </dict>
            <key>social_screen/social_arrow_modern.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{276,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,140}}</string>
                <key>sourceSize</key>
                <string>{276,140}</string>
            </dict>
            <key>social_screen/social_arrow_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{276,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,140}}</string>
                <key>sourceSize</key>
                <string>{276,140}</string>
            </dict>
            <key>social_screen/social_friend_above_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,242},{151,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,51}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>social_screen/social_friend_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{206,222}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{206,222}}</string>
                <key>sourceSize</key>
                <string>{206,330}</string>
            </dict>
            <key>social_screen/social_friend_placeholder.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,298},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>social_screen/social_friend_placeholder_silhouette.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,296},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>social_screen/social_friend_town.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,145},{206,222}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{206,222}}</string>
                <key>sourceSize</key>
                <string>{206,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>social-images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5a93a892682130b659458b2193577e1$</string>
            <key>textureFileName</key>
            <string>social-images.png</string>
        </dict>
    </dict>
</plist>
