<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Oil_Production_Medium_Rig_SE_0001-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{401.25,168.75},{195,176.25}}</string>
			<key>offset</key>
			<string>{-9.375,22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,9.375},{195,176.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0002-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,348.75},{195,172.5}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,13.125},{195,172.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0003-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,510},{195,168.75}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{195,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0004-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,686.25},{195,165}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,16.875},{195,165}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0005-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,667.5},{195,161.25}}</string>
			<key>offset</key>
			<string>{-9.375,18.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,20.625},{195,161.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0006-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,675},{195,161.25}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,18.75},{195,161.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0007-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,345},{195,168.75}}</string>
			<key>offset</key>
			<string>{-9.375,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,11.25},{195,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0008-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{202.5,168.75},{198.75,168.75}}</string>
			<key>offset</key>
			<string>{-11.25,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,9.375},{198.75,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0009-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,0},{202.5,168.75}}</string>
			<key>offset</key>
			<string>{-13.125,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,7.5},{202.5,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0010-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{202.5,172.5}}</string>
			<key>offset</key>
			<string>{-13.125,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,3.75},{202.5,172.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0011-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{202.5,0},{202.5,168.75}}</string>
			<key>offset</key>
			<string>{-13.125,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.625,7.5},{202.5,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0012-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{607.5,0},{198.75,168.75}}</string>
			<key>offset</key>
			<string>{-11.25,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.375,9.375},{198.75,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0013-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,521.25},{195,165}}</string>
			<key>offset</key>
			<string>{-9.375,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,13.125},{195,165}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0014-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,513.75},{195,161.25}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,18.75},{195,161.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0015-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,506.25},{195,161.25}}</string>
			<key>offset</key>
			<string>{-9.375,18.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,20.625},{195,161.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0016-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,678.75},{195,161.25}}</string>
			<key>offset</key>
			<string>{-9.375,18.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,20.625},{195,161.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0017-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{596.25,337.5},{195,168.75}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{195,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0018-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{596.25,168.75},{195,168.75}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,15},{195,168.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0019-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,337.5},{195,172.5}}</string>
			<key>offset</key>
			<string>{-9.375,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,13.125},{195,172.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Oil_Production_Medium_Rig_SE_0020-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172.5},{195,176.25}}</string>
			<key>offset</key>
			<string>{-9.375,22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13.125,9.375},{195,176.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TravelingMediumRig-hd.png</string>
		<key>size</key>
		<string>{960,960}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d35682f2f42e4f55f0dce0607101df72$</string>
		<key>textureFileName</key>
		<string>TravelingMediumRig-hd.png</string>
	</dict>
</dict>
</plist>
