<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Camel_Happy_Pen_FINAL0001-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,412.5},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,30},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0002-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,780},{123.75,123.75}}</string>
			<key>offset</key>
			<string>{16.875,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,33.75},{123.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0003-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{671.25,285},{127.5,120}}</string>
			<key>offset</key>
			<string>{13.125,22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69.375,37.5},{127.5,120}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0004-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,393.75},{131.25,112.5}}</string>
			<key>offset</key>
			<string>{9.375,18.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63.75,45},{131.25,112.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0005-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,266.25},{138.75,101.25}}</string>
			<key>offset</key>
			<string>{5.625,13.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56.25,56.25},{138.75,101.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0006-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,390},{135,116.25}}</string>
			<key>offset</key>
			<string>{15,20.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67.5,41.25},{135,116.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0007-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{123.75,637.5},{120,131.25}}</string>
			<key>offset</key>
			<string>{15,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,26.25},{120,131.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0008-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,776.25},{120,135}}</string>
			<key>offset</key>
			<string>{13.125,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,22.5},{120,135}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0009-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,367.5},{135,138.75}}</string>
			<key>offset</key>
			<string>{15,31.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67.5,18.75},{135,138.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0010-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,142.5},{142.5,142.5}}</string>
			<key>offset</key>
			<string>{13.125,33.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61.875,15},{142.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0011-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{146.25,120},{146.25,142.5}}</string>
			<key>offset</key>
			<string>{11.25,33.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58.125,15},{146.25,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0012-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,120},{146.25,146.25}}</string>
			<key>offset</key>
			<string>{9.375,35.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56.25,11.25},{146.25,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0013-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{438.75,138.75},{142.5,146.25}}</string>
			<key>offset</key>
			<string>{9.375,35.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58.125,11.25},{142.5,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0014-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{607.5,0},{142.5,146.25}}</string>
			<key>offset</key>
			<string>{7.5,35.625}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56.25,11.25},{142.5,146.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0015-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{142.5,142.5}}</string>
			<key>offset</key>
			<string>{7.5,33.75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56.25,15},{142.5,142.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0016-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{461.25,0},{146.25,138.75}}</string>
			<key>offset</key>
			<string>{5.625,31.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52.5,18.75},{146.25,138.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0017-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{581.25,146.25},{142.5,138.75}}</string>
			<key>offset</key>
			<string>{5.625,31.875}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54.375,18.75},{142.5,138.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0018-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{292.5,127.5},{146.25,135}}</string>
			<key>offset</key>
			<string>{1.875,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48.75,22.5},{146.25,135}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0019-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{157.5,0},{153.75,120}}</string>
			<key>offset</key>
			<string>{3.75,22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46.875,37.5},{153.75,120}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0020-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{157.5,120}}</string>
			<key>offset</key>
			<string>{5.625,22.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46.875,37.5},{157.5,120}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0021-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{311.25,0},{150,127.5}}</string>
			<key>offset</key>
			<string>{7.5,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52.5,30},{150,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0022-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{146.25,262.5},{138.75,131.25}}</string>
			<key>offset</key>
			<string>{13.125,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63.75,26.25},{138.75,131.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0023-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,776.25},{127.5,131.25}}</string>
			<key>offset</key>
			<string>{16.875,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,26.25},{127.5,131.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0024-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{502.5,761.25},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0025-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,506.25},{131.25,127.5}}</string>
			<key>offset</key>
			<string>{15,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69.375,30},{131.25,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0026-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,262.5},{135,127.5}}</string>
			<key>offset</key>
			<string>{13.125,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65.625,30},{135,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0027-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{243.75,637.5},{131.25,127.5}}</string>
			<key>offset</key>
			<string>{15,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69.375,30},{131.25,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0028-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{502.5,633.75},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0029-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,285},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0030-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,761.25},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0031-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{378.75,506.25},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0032-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,633.75},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0033-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0034-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0035-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0036-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0037-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0038-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0039-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0040-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{247.5,765},{127.5,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,30},{127.5,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0041-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{671.25,405},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,30},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0042-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,656.25},{123.75,123.75}}</string>
			<key>offset</key>
			<string>{16.875,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,33.75},{123.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0043-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{753.75,540},{123.75,123.75}}</string>
			<key>offset</key>
			<string>{16.875,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,33.75},{123.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0044-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,532.5},{123.75,123.75}}</string>
			<key>offset</key>
			<string>{16.875,24.375}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,33.75},{123.75,123.75}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0045-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{798.75,285},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,30},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0046-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,641.25},{123.75,135}}</string>
			<key>offset</key>
			<string>{15,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,22.5},{123.75,135}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0047-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,506.25},{123.75,135}}</string>
			<key>offset</key>
			<string>{15,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73.125,22.5},{123.75,135}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0048-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{123.75,506.25},{123.75,131.25}}</string>
			<key>offset</key>
			<string>{16.875,28.125}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,26.25},{123.75,131.25}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0049-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{547.5,285},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,30},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>Camel_Happy_Pen_FINAL0050-hd.png</key>
		<dict>
			<key>frame</key>
			<string>{{506.25,412.5},{123.75,127.5}}</string>
			<key>offset</key>
			<string>{16.875,26.25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,30},{123.75,127.5}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TravelingCamel-hd.png</string>
		<key>size</key>
		<string>{960,960}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:feef69999e4afb0e53db21de7fe19c0e$</string>
		<key>textureFileName</key>
		<string>TravelingCamel-hd.png</string>
	</dict>
</dict>
</plist>
