<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kuwait_Man_Front_0001-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{34,78}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{34,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0002-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,78},{36,76}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{36,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0003-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,76}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{38,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0004-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,78},{36,76}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{36,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0005-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{36,76}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{36,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0006-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{34,76}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{34,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0007-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{32,76}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{32,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0008-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{30,76}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{30,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0009-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{28,76}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{28,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0010-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,76},{26,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{26,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0011-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,154},{24,78}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{24,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0012-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,154},{24,78}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{24,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0013-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,154},{24,78}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{24,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0014-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,76},{24,78}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{24,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0015-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,154},{24,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0016-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,154},{24,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0017-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{24,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0018-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,154},{24,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0019-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,154},{24,76}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0020-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{24,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{24,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0021-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,154},{26,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{26,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0022-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{26,76}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{26,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0023-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,76},{28,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{28,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0024-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,76},{28,78}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{28,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0025-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,76},{30,78}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,21},{30,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kuwait_Man_Front_0026-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{30,78}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,21},{30,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TravelingKuwaitMan-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b471fa6c9e8e3cc7cece0e1ca09cad11$</string>
            <key>textureFileName</key>
            <string>TravelingKuwaitMan-hd.png</string>
        </dict>
    </dict>
</plist>
